@charset "UTF-8";

/* ヘッダーのデザイン */
a {
  text-decoration: none;
}

img {
  max-width: 300%;
  top: 20px;
}

.logo{
  width: 500px;
  margin-top: 30
  px;
}

.main-nav{
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li{
  margin-left: 36px;
}

.main-nav a{
  color: #432;
}

.main-nav a:hover{
  color:grey
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: 1200px;
  margin: 0auto;
  padding: 0 4%;
}
/* ヘッダーのデザインここまで */



a {
  text-decoration: none;
}

img {
  max-width: 300%;
  top: 20px;
}

.logo{
  width: 500px;
  margin-top: 30
  px;
}

.main-nav{
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li{
  margin-left: 36px;
}

.main-nav a{
  color: #432;
}

.main-nav a:hover{
  color:grey
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: 1200px;
  margin: 0auto;
  padding: 0 4%;
}

/* container */
.wrapper1{
  width:100%;
  background-color:#fafafa;
}
.wrapper1 .container1{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper1 .container1 .content1 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.wrapper1 .content-item1 {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper1 .content-item1 {
      width:50%;
  }
}
.wrapper1 .image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.wrapper1 .text{
  padding:50px;
}
.wrapper1 .text .heading{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

/* container */
.wrapper2{
  width:100%;
  background-color:#fafafa;
}
.wrapper2 .container2{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper2 .container2 .content2 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
/* PC時のみ順番を入れ替える */
@media (min-width: 992px) {
  .wrapper2 .content2 {
      flex-direction:row-reverse;
  }
}
.wrapper2 .content-item2 {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper2 .content-item2 {
      width:50%;
  }
}
.wrapper2 .image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.wrapper2 .text{
  padding:50px;
}
.wrapper2 .text .heading{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}


/* フッターここから */

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #4b5564;
  text-decoration: none;
}

a:hover {
  color: #000;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

address {
  font-style: normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;
  margin-bottom: 1.5rem;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #4b5564;
  background: #fff;
}

.footer_logo {
  width: 500px;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.footer__navi li {
  margin-bottom: 0.75rem;
}

.footer__address {
  margin-bottom: 2rem;
}

.footer__address a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .footer__address a {
    text-decoration: none;
    pointer-events: none;
  }
}

@media (min-width: 1024px) {
  .lg-flex {
    display: flex;
  }
}
/* フッターここまで */